.form-create-staff-container,
.form-edit-staff-container {
  padding: 0 2rem;
  position: relative;
  display: none;
}

.form-create-staff {
  display: flex;
  justify-content: space-around;
}

.form-create-staff .input-group {
  display: block;
}

.form-create-staff .input-block {
  margin: 0 1.5rem 1rem 1.5rem;
}

.form-create-staff .input-block input,
.form-create-staff .input-block select {
  border: 1px solid var(--border-light);
  padding: 0.5rem 0.8rem;
  width: 25rem;
  background: var(--color-white);
  color: var(--text-dark);
  border-radius: 3px;
  resize: none;
}

.input-block label {
  display: block;
  margin-bottom: 0.5rem;
}

.galeria-wrapper,
.galeria-wrapper-edit {
  width: 400px;
  height: 400px;
  border-radius: 0.3rem;
  border: 1px solid var(--border-light);
  overflow: hidden;
  position: relative;
}

.galeria-wrapper .subtitle,
.galeria-wrapper .subtitle > span {
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.galeria-wrapper-edit .subtitle,
.galeria-wrapper-edit .subtitle > span {
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.galeria-wrapper .subtitle > span,
.galeria-wrapper-edit .subtitle > span {
  color: #c11025;
  padding: 0;
}

.galeria-content,
.galeria-content-edit {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(3, 120px);
  justify-content: center;
  padding: 0.3rem;
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.galeria-content::-webkit-scrollbar,
.galeria-content-edit::-webkit-scrollbar {
  width: 6px;
  border: 1px solid var(--border-light);
}

.galeria-content::-webkit-scrollbar-thumb,
.galeria-content-edit::-webkit-scrollbar-thumb {
  background: #c11025;
  border-radius: 50px;
}

.galeria-content::-webkit-scrollbar-button,
.galeria-content-edit::-webkit-scrollbar-button {
  background: var(--border-light);
  height: 10px;
}

.galeria-content .img,
.galeria-content-edit .img {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.galeria-content .img > img,
.galeria-content-edit .img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in;
  cursor: pointer;
  position: relative;
  border-radius: 0.3rem;
}

.galeria-content .img .info-img-create,
.galeria-content-edit .img .info-img-edit {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.info-img-create p,
.info-img-edit p {
  font-size: 0.7rem;
  line-height: 13px;
}

.info-img-create p > span,
.info-img-edit p > span {
  font-size: inherit;
  color: var(--color-primary);
}

.galeria-content .img:hover .info-img-create,
.galeria-content-edit .img:hover .info-img-edit {
  transition: 0.1s ease-in-out;
  bottom: 0;
}

.galeria-content .img:hover > img,
.galeria-content-edit .img:hover > img {
  filter: brightness(0.5) blur(1px) !important;
  scale: 1.5;
}

.galeria-content .img > img:not(:hover),
.galeria-content-edit .img > img:not(:hover) {
  transition: 0.2s ease-out;
  filter: none;
}

.galeria-content .img.selected > img,
.galeria-content-edit .img.selected > img {
  filter: brightness(0.5) blur(1px) !important;
  scale: 1.5;
}

.galeria-content .img.selected .info-img-create,
.galeria-content-edit .img.selected .info-img-edit {
  bottom: 0;
}

.galeria-content .img .info-img-create img,
.galeria-content-edit .img .info-img-edit img {
  height: 30px;
}

.form-create-staff-container .buttons,
.form-edit-staff-container .buttons {
  position: absolute;
  bottom: -50px;
  right: 85px;

  display: flex;
  justify-content: right;
  gap: 0.5rem;

  height: 40px;
}

.button-cancelar,
.button-salvar {
  padding: 0.7rem 2rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s linear;
}

.button-cancelar:hover,
.button-salvar:hover {
  opacity: 0.8;
}

.button-cancelar {
  background-color: var(--color-white-light);
  color: #969696;
}

.button-salvar {
  background: var(--color-primary);
  color: #ffffff;
}

.button-voltar-icon {
  position: absolute;
  right: 10px;
  background: none;
  cursor: pointer;
}

/* ------------------------ */

.list-staff-container {
  padding: 0 1.5rem;
  position: relative;
  height: 75vh;
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: 1px solid var(--border-light);
  border-radius: 0.3rem;
  align-items: center;
}

.assets-list {
  display: flex;
  gap: 2rem;
}

.input-search-container {
  border: 1px solid var(--border-light);
  display: flex;
  align-items: center;
  width: 20rem;
}

#input-search-staff {
  flex: 1;
  padding: 0.5rem 1rem;
  background: none;
  color: var(--text-dark);
}

#button-submit-search-staff {
  padding: 0.5rem 1rem;
  background: none;
  cursor: pointer;
  background: none;
}

#button-create-new-staff {
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: 1px solid var(--border-light);
}

.table-list-staff {
  border: 1px solid var(--border-light);
  padding: 0rem 2rem;
  margin-top: 0.5rem;
  width: 100%;
}

.table-header-list-staff th {
  padding: 1rem;
  border-bottom: 1px solid var(--border-light);
}

.table-list-staff td.td-min {
  width: 10px;
}

.table-list-staff td {
  width: 32%;
  text-align: center;
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
}

.table-list-staff td.td-descricao {
  width: 400px;
}

.pagination {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  padding: 1rem 0;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: 25px;
}

.pagination button {
  cursor: pointer;
  background: none;
  border: 1px solid var(--border-light);
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body-list-staff tr {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.table-body-list-staff tr.visible {
  opacity: 1;
}

.flex-th button {
  display: flex;
  gap: 5px;
  font-weight: var(--f-bold);
  margin: 0 auto;
  color: var(--text-dark);
}

.categoria-container {
  padding: 0.5rem;
  display: flex;
}

.categoria-container label {
  display: flex;
  align-items: center;
}

#setor {
  border: 1px solid var(--border-light);
  color: var(--text-dark);
  margin-left: 10px;
  padding: 0.4rem 1rem;
  background: var(--color-white);
  width: 250px;
}

#filtrar {
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--border-light);
  color: var(--text-dark);
  margin-left: 5px;
  cursor: pointer;
}

.td-acoes {
  display: flex;
  gap: 10px;
  width: max-content !important;
}

.delete-icon,
.edit-icon,
.view-icon {
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0.8;
  font-weight: normal !important;
}

/* Adicione isso ao seu arquivo CSS */
.sorting-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* VIEW staff */

.container-view-staff[open] {
  animation: showModal 0.4s linear forwards;
  width: 80vw;
  margin: auto;
  padding: 3rem;
  overflow: hidden;
  border-radius: 0.3rem;

  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.075);
  background: url("../images/bg-cal-white.png");
  background-position: center;
  color: var(--text-dark);
}

.container-view-staff[open]::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffffff, transparent);
  z-index: 1;
}

.dark-mode .container-view-staff[open]::before {
  background-image: linear-gradient(to top, #000, transparent);
}

.dark-mode .container-view-staff[open] {
  background: url("../images/bg-cal-black.png");
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-view-staff::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.container-view-staff .title {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  font-size: var(--f-s-2);
}

.container-view-staff-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  border-radius: 0.3rem;
  gap: 4rem;
  position: relative;
  z-index: 5;
}

.container-view-staff-datails::-webkit-scrollbar-thumb {
  background: #000;
}

.container-view-staff .image-description {
  padding: 1rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.container-view-staff #button-back {
  padding: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  background: none;
  top: -40px;
  right: -20px;
}

.staff-view {
  background: #fff;
  box-shadow: 18px 28px 12px -8px rgba(0, 0, 0, 0.151);
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--border-light);
}

.dark-mode .staff-view {
  background: #070707;
  border: none;
}

#staff-view-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.id-image-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.container-view-staff #id-staff,
#nome-staff,
#setor-staff,
#funcao-staff {
  background: #c11025;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  color: #ffff;
}

.container-view-staff .id-staff-container,
.nome-staff-container,
.setor-staff-container,
.funcao-staff-container
{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: 0.2rem;
  align-items: start;
  margin-bottom: .8rem;
}

#id-imagem-staff {
  background: #c11025;
  padding: 0.3rem 3rem;
  color: #fff;
  border-radius: 0.3rem;
  font-weight: 600;
}

.message-not-exists-images {
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.message-not-exists-images img {
  height: 50px;
  width: 50px;
  opacity: 0.3;
}
